bin/
obj/
out/

*.dll
*.exe
*.app
*.pdb
lambda-package.zip
lambda_deploy_script.sh
*.log
leep 5
api.zip
appsettings.Development.json
appsettings.json
appsettings.Test.json
secrets.json
docker-compose.test.yml

.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db

TestResults/
*.trx

*.sln.iml

.dotnet-tools.json

publish/
